h1 {
    color: red; 
    font-size: 28px;
}
h2 {color: blue ; 
    font-size:35px;}
ol {color: black; 
    font-size: 32px;}
p {font-size: 28px; 
    font-family: Georgia, 'Times New Roman', Times, serif;}
ul { color: green;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
}

.fs-28 {
    font-size: 28px;
}

.yaziyiortala {
    text-align: center;
}

ul {
    display: inline-block; text-align: left;
}

nav {
    
    font-family: Verdana, Geneva, Tahoma, sans-serif; 
    text-align: center;
    font-size: 28px;
    text-align: center;

}

.flexortala{
    display: flex; align-items: center; justify-content: center;
}

body {
background-color: beige;
}